

#bottom {
	width: 1024px;
    float: left;
    margin-top: 20px;
    
    text-align: center;
}

#foot {
	width: 1024px;
    float: left;
    margin-top: 20px;

    text-align: center;
}

